body {
  background-color: #f8fafc; /* Vastaa bg-slate-50 */
  color: #0f172a;            /* Vastaa text-slate-900 */
  user-select: none;         /* Estää tekstin valinnan (appimainen tuntu) */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  
  /* Mobiilioptimointi: estää "bouncen" ja vetämällä päivityksen joissain selaimissa */
  overscroll-behavior-y: none;
  -webkit-tap-highlight-color: transparent;
}

/* Piilotetaan scrollbarit mutta sallitaan scrollaus */
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
